In [9]:
import pandas as pd  
import numpy as np

In [10]:
data=pd.read_csv('E:\\FinalProject\\notebooks\\data\\cubic_zirconia.csv')

In [11]:
data.drop(data.columns[0],axis=1,inplace=True)

In [12]:
data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1   0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2   0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3   0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4   0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779

In [13]:
X=data.drop(labels=["price"],axis=1)

In [14]:
X

       carat        cut color clarity  depth  table     x     y     z
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27

[26967 rows x 9 columns]

In [15]:
y=data[["price"]]

In [16]:
cate_col=X.select_dtypes(include="object")

In [17]:
Num_col=X.select_dtypes(exclude="object")

In [18]:
cut_categories=['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories=['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories=['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [19]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.pipeline import Pipeline 
from sklearn.compose import ColumnTransformer

In [20]:
num_pipeline=Pipeline(
        
        
    steps=[
        
        
        ('imputer',SimpleImputer()),
        ('Scaler',StandardScaler())
    ]
           
        
    
    
)

In [21]:
cate_pipeline=Pipeline(
    
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('OrdinalEncoder',OrdinalEncoder(categories=[cut_categories,color_categories,]))
        
        
        
    ]
)

In [22]:
Preprocessor=ColumnTransformer(
    [
     
     ('num_pipeline',num_pipeline,Num_col),
     ('cate_pipeline',cate_pipeline,cate_col)
    
    
    
    
    ]
)

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=30)

In [24]:
X_train

       carat        cut color clarity  depth  table     x     y     z
4634    1.07      Ideal     G     VS1   62.2   56.0  6.53  6.56  4.07
5397    0.51  Very Good     E     SI1   61.2   61.0  5.13  5.16  3.15
22885   0.55      Ideal     H     SI2   61.4   55.0  5.27  5.29  3.24
2721    0.32      Ideal     H     VS1   62.1   55.0  4.40  4.39  2.73
18705   0.91  Very Good     H     VS2   63.1   56.0  6.20  6.13  3.89
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
500     0.71    Premium     G     SI1   58.9   62.0  5.85  5.79  3.43
12077   1.01    Premium     G     SI1   62.2   58.0  6.42  6.40  3.99
15277   1.70  Very Good     H     VS1   62.8   57.0  7.47  7.57  4.72
4517    0.30       Good     D     SI2   63.2   57.0  4.21  4.24  2.67
5925    0.54      Ideal     D     SI1   60.8   57.0  5.25  5.31  3.21

[18876 rows x 9 columns]

In [26]:
Preprocessor.fit_transform(X_train)

ValueError: No valid specification of the columns. Only a scalar, list or slice of all integers or all strings, or boolean mask is allowed

In [ ]:
Preprocessor.transform(X_test)

:

: